.info {
    width: $ancho;
    height: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    .card-info {
        background-color: $bcolor;
        width: 100%;
        height: 200px;
        margin-top: 10px;
        border: 1px solid $bcolor;
        border-radius: 15px;
        padding-top: 10px;
        margin-bottom: 10px;
        p {
            color: $fondo;
            text-align: center;
        }
    }
    @media screen and (max-width:850px) {
        .info {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            margin-top: 50px;
            .card-info {
                margin-bottom: 20px;
            }
        }
    }
}