h1 {
    font-size: $h1size;
}

.card-plan {
    width: 400px;
    height: 450px;
    border: 1px solid #FC9918;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .card-header {
        background-color: #FC9918;
        border-radius: 15px;
        color: $fondo;
    }
    .card-body {
        height: 90%;
        li {
            color: $color-primary;
            line-height: 2.3;
        }
    }
    .btn {
        background-color: $bcolor;
    }
}