$fondo: white;
$ancho: 100%;
$alto:100%;
$h1home: 100px;
$h1size: 60px;
$bcolor:#FC9918;
$bcolorc:white;
$h2size:30px;
$fonth: 'Roboto',
sans-serif;
$color-primary: #370665;
$color-secondary: #35589A;
$color-tertiary: #F14A16;